:root{
    --teal:#279e8c;
    --teal_hover:#2ec1ac
}

.custom-bg{
    background-color:var(--teal);
    border:1px solid var(--teal_hover);
}
.custom-bg:hover{
    background-color: var(--teal);
    border: 1px solid  var(--teal_hover);
}

.h-line{
    width: 150px;
    margin: 0 auto;
    height: 1.8px;
}